<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>503 I'm a teapot</title>
</head>
<body style="height: 100%;overflow: hidden;display: flex;align-items: center;justify-content: center;background: #0f1a19;">
    <h1 style="font-size: 380px;margin: 0;user-select: none;width: fit-content;font-family: sans-serif;color:white">418</h1>
    </h3>We refuse to attempt to brew coffee with a teapot.</h3><br>
    <a href="/">back to home</a>
</body>
</html>