@font-face {
    font-family: "Roboto";
    src: url("/RobotoMono-VariableFont_wght-1.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Emoji";
    src: url("/NotoEmoji-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url("/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.ttf") format('truetype');
    font-display: swap;
}