<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--<link rel="manifest" href="/manifest.webmanifest"> Arquivo PWA-->
    <!--
        <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
        <meta name="theme-color" media="(prefers-color-scheme: dark)"  content="black">
    -->
    <!--desc-->
    <meta name="description" content="Chat">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--name & ico-->
    <link id="page-ico" rel="icon" type="image/x-icon" href="/img/user.svg">
    <!--temporariamente usando daniel como favicon, não consigo definir a imagem de icon-->
    <title>Chat</title><!--username-->
    <!--my css-->
    <link rel="stylesheet" href="/style/style.css">
</head>
<body translate="no">
    <!--<img src="/img/logo.svg" id="logo" alt="logo">-->
    <!--nav-->
    <nav id="salvos">
        <nav id="menu">
            <!--<input id='pesquisar' placeholder="global" tabindex="0" type="text"></input>-->
            <button class="material-symbols-outlined" tabindex="0" id="pesquisar">
                search
                <input placeholder="pesquisar no chat" tabindex="0" type="text" id="searchbar"></input>
            </button>
            <div id="homeSettings">
                <button class="material-symbols-outlined" tabindex="0" id='settings'>settings</button>
                <button class="material-symbols-outlined" tabindex="0" id="home"
                    href="#User Name" style="text-decoration: none;">extension</button>
                <button class="material-symbols-outlined" id="add">add</button>
            </div>
        </nav>
        <div id="contatos"></div>
    </nav>
    <!--New Group Menu-->
    <div id="newChatMenu">
        <h2 class='newGroupCreatorTitle'>Novo Grupo</h2>
        <button class="material-symbols-outlined" id="exitCreateGroupMenu" tabindex="0"
            onclick="this.parentNode.style.display = 'none'">close</button>
        <div id="menuInputs">
            <div style='display: flex;flex-direction: column;width: 100%;justify-content: center;'>
                <input type="text" id="nameInput" placeholder="Escolha um Nome">
                <input type="text" placeholder="description" id="descriptionInput">
            </div>
            <button tabindex="0" onclick="this.lastElementChild.click()">
                <img src="/img/groupImg.svg">
                <input type="file" style='display: none;'>
            </button>
        </div>
        <button class='material-symbols-outlined' id="create">group_add</button>
        <div id="selecUsers">
            <h3 style="margin-top: 0;">users</h3>
        </div>
    </div>
    <!--settings-->
    <div id='settingsMenu'>
        <span id='closeSettings' class="material-symbols-outlined" tabindex="0">close</span>
        <a href="/manuel">manuel</a>
    </div>
    <div id="popup"></div>
    <script src="/main.js" type="module"></script>
</body>
</html>