<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body style="background: #0f1a19;color:white;overflow: hidden;font-family: sans-serif;user-select:none;display: flex;flex-direction: column;align-items: center;justify-content: center;height: 100%;">
    <h1 style="font-size: 380px;width: fit-content;margin: 0;">404</h1>
    <h3>Not Found ( ﾉ ﾟｰﾟ)ﾉ</h3>
    <!--<a href="https://www.asciiart.eu/image-to-ascii">ASCII image</a>-->
</body>
</html>