@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font definitions */
@font-face {
    font-family: "Roboto";
    src: url("/fonts/RobotoMono-VariableFont_wght-1.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Emoji";
    src: url("/fonts/NotoEmoji-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url("/fonts/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2") format('woff2');
}
