<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <input type="text" placeholder="email">
    <input type="text" placeholder="senha">
    <button>entrar</button>
    <button>esqueci minha senha</button>
</body>
</html>