<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar conta</title>
</head>
<body>
    <input type="text" placeholder="Email">
    <input type="text" placeholder="Senha" style="-webkit-text-security: disc;">
    <input type="text" placeholder="User Name">
    <button>Google</button>
    <button>Microsoft</button>
    <button>Create Account</button>
</body>
</html>